<h1 class="title" style="text-align: center">Edit Todo</h1>
<div mat-dialog-content>
  <form [formGroup]="todoFormGroup" (ngSubmit)="onFormSubmit()">
    <app-todo-form formControlName="todoItem" [todo]="todo"></app-todo-form>
    <div class="error -salmon" style="padding-left: 36px">
      <p
        class="help is-danger"
        *ngIf="todoItem?.touched && todoItem?.errors?.todoItem?.valid?.required"
      >
        Please enter the text of your todo
      </p>
      <p
        class="help is-danger"
        *ngIf="todoItem?.errors?.todoItem?.valid?.minLength"
      >
        Todo text must be at least 2 characters
      </p>
    </div>
    <br />
    <div class="field is-grouped is-grouped-right">
      <button type="button" class="button -salmon center" (click)="close()">
        Cancel
      </button>

      <button type="submit" class="button -green center">
        <i class="material-icons">save</i>
        Save
      </button>
    </div>
  </form>
</div>
